<h2 class="text-2xl text-customred font-semibold mb-4">主な機能</h2>
<ul class="list-disc list-inside text-lg text-left text-customblue">
  <li>気分に合わせた日記作成</li>
  <li>パーソナライズされた音楽プレイリスト</li>
  <li>気分や感情の振り返り</li>
  <li>友人との音楽共有と共感</li>
</ul>
