<h3 class="text-xl font-semibold mb-2">使い方</h3>
<p class="text-lg mb-4 text-left text-customblue">
  まずはアプリにログインし、その日の気分や出来事に合う曲と一言メモを記録してください。アプリがあなたの感情に基づいたプレイリストを作成し、過去の日記を振り返ることで自分の気持ちを深く理解できます。さらに、友人と日記を共有することで共感を得られます。
</p>
